<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="header">
    <h1 th:if="${username}">Hello, <span th:text="${username}">--name--</span>.</h1>
    <a href="/logout">logout</a>
</div>

</body>
</html>